* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.styleButton{
  width: 100px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: salmon;
  cursor: pointer;
}